@model IEnumerable<Modelos.Models.Curso>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_usuario_sem_login.cshtml";
}

<h2>Home</h2>
<div class="panel-footer panel-info">
    <h1>SOBRE</h1>
</div>
