@model Modelos.Models.Professor
    <div class="flex-col center" style="margin-top: 12px;">
        <img src="~/img/foto_estudantefoto.svg" height="150" width="150" />
        <p style="font-family: Nunito; font-size: 19px; margin-left: 12px;">
            @Model.Nome
        </p>
    </div>
