<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
          charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/HeaderFooter.css")" rel="stylesheet" />
</head>
<body>
    <div class="panel-footer panel-info flex space-between color-bg" id="footer">
        <div class="flex-column fontJost400">
            <h4 class="title-list">SOBRE</h4>
            <a href="/Home/PaginaInicial" class="content-list">StackLearn</a>
            <a href="#" class="content-list">Termos de uso</a>
            <a href="#" class="content-list">Direitos de uso</a>
        </div>
        <div class="flex-column  fontJost400">
            <h4 class="title-list">SUPORTE</h4>
            <h5 class="content-list"><img src="~/img/Phone.svg" height="25" width="25" />  (84)99116-3298</h5>
            <h5 class="content-list"><img src="~/img/Envelope.svg" height="25" width="25" />  stacklearn@gmail.com</h5>
            <h6>© Copyright 2022 stacklearn.com.br</h6>
        </div>
        <div class="flex-column fontJost400" >
                <h4 class="title-list">NOSSAS REDES SOCIAIS</h4>
                <div class="flex-col center" id="social_media">
                    <img src="~/img/TwitterLogo.svg" height="32" width="32" />
                    <img src="~/img/InstagramLogo.svg" height="32" widht="32" />
                    <img src="~/img/WhatsappLogo.svg" height="32" width="32" />
                    <img src="~/img/FacebookLogo.svg" height="32" width="32" />
                </div>
        </div>
    </div>
</body>
</html>
