<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
          charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/HeaderFooter.css")" rel="stylesheet" />
</head>
<body>
    <div class="panel-footer panel-info flex center color-bg">
        <img src="~/img/logo2.svg" />
        <div class="flex-col center fontJost400">
            <a href="/Cursos/Index" class="linkPaginas">Cursos</a>
            <a href="#" class="linkPaginas">Assinatura</a>
        </div>
        <div class="flex-col center fontJost400">
            <button class="buttonCadastroLogin">
                Entrar
            </button>
            <button class="buttonCadastroLogin">
                Cadastro
            </button>
            <a>
                <img src="~/img/carrinho.svg"height="40" width="40" />
            </a>
        </div>
    </div>
</body>
</html>
