@model IEnumerable<Modelos.Models.Avaliacao>
@{
    long soma = 0;
    long total = 0;
}
@foreach (var item in Model)
{
    soma = soma + item.Nota;
    total = total + 1;
}
@{long media = soma / total; }

<h1 style="text-align:center; font-family: 'Jost'; color:white; font-size: 42px;">@media</h1>
<div class="stars" style="display:flex; justify-content: center;">
    @for (int i = 0; i < @media; i++)
    {
        <img src="~/img/estrela-cheia.svg" height="40" width="40" />
    }
    @for (int i = 0; i < 5 - @media; i++)
    {
        <img src="~/img/estrela-vazia.svg" height="40" width="40" />
    }
</div>

<h1 style="text-align:left; font-family: 'Jost'; color:white; font-size: 24px; margin: 1.2em;">Comentários</h1>
@foreach (var item in Model)
{
    <div class="box" style="display:flex; background-color: white; border-radius: 10px; margin: 2em; padding: 1em;">
        <img src="~/img/foto_estudantefoto.svg" height="100" width="100" />
        <div class="nome-nota-comentario">
            <div class="nome-nota" style="display:flex; justify-content: center; margin-left: 1em;">
                <span style="font-family: 'Jost'; font-size: 18px; color: black; font-weight: 600; margin-right: 8px;">@item.AlunoNome</span>
                @for (int i = 0; i < item.Nota; i++)
                {
                    <img src="~/img/estrela-cheia.svg" height="20" width="20" />
                }
                @for (int i = 0; i < 5 - item.Nota; i++)
                {
                    <img src="~/img/estrela-vazia.svg" height="20" width="20" />
                }
            </div>
            <span style="font-family: 'Jost'; font-size: 16px; color: black; margin-left: 1em;">@item.Comentario</span>
        </div>
    </div>
}


