@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    align-items: left ; /* Pack items from the end */
}
.drop.content {
    border-radius: 5px;
    background-color: #fff;
    color: black;
    margin: 0;
    padding: 10px;
}

.item-modal {
    padding: 10px;
}

.line-white {
    border-top: 1px solid #ECE8EF;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.flex-col {
    display: flex;
    flex-direction:row;
   
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.right{
    justify-content: flex-start;
}
.center {
    align-items:center;
}
.buttonCadastroLogin {
    width: 4em;
    height: 2.5em;
    background-color: white;
    border-radius: 5px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 12px;
}

.fontJost400 {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 16px;
}

.color-bg {
    background-color: #70D7C7;
}

.title-list{
    font-size: 22px;

    margin-bottom: 16px;
}
.content-list{
    text-decoration: none;
    color: black;
    font-size: 16px;

    margin-bottom:16px;
}
 a:hover{
     text-decoration: none;
     color: black;
 }
 a img{
     margin-left: 16px;
 }
.linkPaginas {
    text-decoration: none;
    color: black;
    position: relative;

    margin-left: 12px;
}

.linkPaginas::after {
    content: "";
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -0.2rem;
    transition: width 0.2s;
}

.linkPaginas:hover::after {
    width: 100%;
}

#footer{
    padding: 2em;
}
#social_media{
    justify-content: center;
}
#social_media img{
    margin-left: 16px;
    margin-top: 2em;
}