@model IEnumerable<Modelos.Models.Aula>
    @{ 
        var a = 1;
    }
    <select style="font-family: 'Nunito'; color: black; background-color: #FFEB82; ">
 
        @foreach (var item in Model)
        {   
            <option>@a  @item.Titulo</option>
            a = a+ 1;
        }

    </select>
