@model IEnumerable<Modelos.Models.Aula>
    @{ 
        var a = 1;
    }
        @foreach (var item in Model)
        {   
            <option value="../../Aulas/AulaIndividual/@item.AulaId">@a - @item.Titulo</option>
            a = a+ 1;
        }